<div>
    <nav class="navbar bg-dark">
        <div class="w-75 m-auto d-flex align-items-center">
            <label class="switch mr-4">
                <input type="checkbox" 
                       class="" 
                       [(ngModel)]="theCheckbox"  
                       data-md-icheck (change)="toggleVisibility($event)"
                />
                <span class="slider round"></span>
            </label>
            <p class="text-info display-4" *ngIf="switched">List</p>
            <p class="text-info display-4" *ngIf="!switched">Cards</p>
        </div>
        <app-pokemon-search></app-pokemon-search>    
    </nav>
    <div>
        <div class="container" >
            <div *ngIf="!switched"  [ngClass]="setClasses()">
            <app-pokemon-card *ngFor="let pokemon of pokemons" [pokemon]="pokemon" (onChanged)="onChanged($event)"
            >
            </app-pokemon-card>
            </div>
            <ul *ngIf="switched" >
                <app-pokemon-row *ngFor="let pokemon of pokemons" [pokemon]="pokemon" class="list-group">
                </app-pokemon-row>
            </ul>
        </div>
    </div>
    
</div>


